.main-header {
  grid-row: 1;
  grid-column: 1/-1;
  height: 64px;
  width: 100vw;
  display: grid;
  align-items: center;
  box-shadow: 0px 3px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  grid-auto-flow: column;
  grid-template-columns: 40px 44px 100px 1fr 200px;
}

.main-header img {
  grid-column: 2;
  height: 40px;
  justify-self: flex-start;
  align-self: center;
}
.main-header h1 {
  color: #5f6367;
  grid-column: 3;
  font-size: 22px;
  justify-self: flex-start;
  align-self: center;
}
.main-header .note-filter {
  grid-column: 4;
  align-self: center;
  height: 46px;
}
.main-header .filter-txt-container {
}
.main-header .filter-txt-container input {
  background-color: transparent;
  width: 100%;
}
.note-filter {
  grid-row: 1;
  height: 100%;
  align-self: center;
  border-radius: 8px;
  background-color: #f0f3f4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  padding: 8px;
  max-width: 720px;
}
.note-filter .filter-txt {
  grid-column: 2;
  background-color: transparent;
}
.note-filter > * {
  border: none;
}
.note-filter .filter-txt-container .filter-txt {
  border: none;
}
.note-filter .filter-txt:focus-visible {
  width: inherit;
  justify-self: flex-start;
  outline: none;
}
