.note-filter {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 80px;
  height: 48px;
  padding: 8px;
}
.note-filter > * {
  border: none;
}
.note-filter .filter-txt-container .filter-txt {
  border: none;
}
.note-filter .filter-txt:focus-visible {
  width: inherit;
  justify-self: flex-start;
  outline: none;
}
.note-filter .filter-type:focus-visible {
  width: inherit;
  justify-self: flex-start;
  outline: none;
}
