.note-modal {
  border-radius: 8px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  z-index: 1;
  padding: 10px 15px;
  width: 600px;
  display: grid;
  grid-template-rows: 1fr 33px;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}
.note-info {
  position: relative;
  display: grid;
  grid-template-rows: 38px minmax(46px, 1fr);
  align-items: flex-start;
  padding: 12px 16px 0px 16px;
}
.note-title {
  width: 100%;
  grid-row: 1;
  font-family: "roboto regular";
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
}
.note-text {
  width: 100%;
  font-size: 14px;
  grid-row: 2;
  overflow: hidden;
}
.text-info {
  align-items: flex-start;
  width: 100%;
  font-size: 14px;
  padding: 4px 16px 12px 16px;
  overflow: hidden;
}

.note-title:focus-visible {
  outline: none;
}
.note-text:focus-visible {
  outline: none;
}
.note-modal .tool-bar {
  grid-row: 3;
  display: flex;
  justify-content: space-between;
}

.note-modal .tool-bar .note-type {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.note-details:focus-visible {
  outline: none;
}
