.notes-list {
  grid-row: 2;
  columns: 272px;
  width: 100vw;
  margin-block-start: 2em;
  margin-inline-start: 3em;
  /* margin-inline-end: 3em; */
  /* column-gap: 1rem; */
  /* column-width: 300px; */
}

.notes-list :first-child {
  margin-block-start: 0px;
}
​ .app-filter:focus-within :is(.some-content, .some-title) {
  display: block;
}
​ .custom-file-input:hover::before {
  border-color: black;
}
