.note-add {
  grid-row: 1;
  grid-column: 2;
  margin-inline-start: 32px;
  margin-top: 32px;
  max-width: 600px;
  height: fit-content;
  display: grid;
  grid-template-rows: minmax(90px, fit-content) 36px;
  border-radius: 8px;
  box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), -1px -1px 11px 0px rgb(0 0 0 / 7%),
    inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.note-add .add-title,
.add-text {
  border: none;
  padding: 10px 15px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.note-add .add-title:focus-visible {
  outline: none;
}
.note-add input:focus-visible {
  display: flex;
  justify-self: flex-start;
  outline: none;
}
.note-add .tool-bar {
  justify-content: space-between;
}
.tool-bar {
  display: flex;
  position: relative;
  margin: 0 8px;
  grid-row: 2;
  height: 33px;
  gap: 10px;
  margin-inline-start: 5px;
  margin-block-end: 5px;
}
.tool-bar .close-btn {
  margin-inline-end: 5px;
}
.note-add .tool-bar .note-type {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.note-add button {
  cursor: pointer;
}
