.notes-list {
  grid-row: 3;
  column-width: 239px;
  column-rule: 16px;
  width: 80vw;
  margin-block-start: 2em;
  margin-inline-start: 3em;
}
.notes-list article:first-child {
  margin-block-start: 0px;
}
.notes-list > * {
  margin-block-start: 16px;
}
