.img-note {
  grid-row: 1;
  display: grid;
  grid-template-rows: 44px minmax(46px, 200px);
  height: 100%;
}
.img-not.note-title {
}
.img-note .url-container {
  grid-row: 2;
  padding: 10px;
  width: 100%;
}

.url-container img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.url-container.edit.audio {
  height: 100%;
}
.url-container.audio audio {
  width: 100%;
  max-width: 300px;
}
.url-container.edit {
  position: relative;
  height: 300px;
}
.url-container .remove-url {
  position: absolute;
  bottom: 0;
  right: 0;
  fill: white;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.376);
}
.url-container input {
  background-color: transparent;
}
