.note-preview {
  width: 272px;
  box-shadow: inset -1px -1px 0 rgb(0 0 0 / 10%),
    inset 2px 2px 0 rgb(0 0 0 / 7%);
  break-inside: avoid-column;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 33.11px;
  font-size: 1.125rem;
  border-radius: 8px;
  font-weight: 400;
  margin-inline-end: 16px;
  margin-block-end: 16px;
  min-height: 30px;
}

.pin {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}
.note-preview .text-box {
  grid-row: 1;
  width: 272px;
  display: grid;
  grid-template-rows: 38px 63px;
  position: relative;
  letter-spacing: 0;
  line-height: 1.5rem;
}
.text-box .note-title {
  grid-row: 1;
  font-family: "roboto regular";
  font-size: 1rem;
  padding: 12px 16px 0px 16px;
  font-weight: 500;
  overflow: hidden;
}

.note .tool-bar {
  margin: 8px;
  grid-row: 2;
  display: flex;
  gap: 0.25em;
}

.note .tool-bar > *:hover {
  border-radius: 50%;
  background-color: lightgray;
}
