.notes-list {
  grid-row: 3;
  column-width: 272px;
  column-gap: 16px;
  max-width: 80vw;
}
.notes-list .note-container:first-child {
  margin-block-start: 0px;
}
.notes-list .note-container:not(:first-child) {
  margin-block-start: 16px;
}
@media (max-width: 800px) {
  .notes-list {
    column-width: 100vw;
  }
  .note-add {
    margin-inline-start: 0px;
  }
}
