.note-side-nav {
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 80px;
  transition: width 0.2s ease-in-out;
  height: 100vh;
  font-size: 15px;
}
.note-side-nav:hover {
  z-index: 2023;
  background-color: white;
  width: 280px;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.14),
    0 11px 18px 0 rgba(0, 0, 0, 0.12), 0 13px 5px -1px rgba(0, 0, 0, 0.2);
}
.note-side-nav:hover .note-side-nav-item {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 18px;
  padding-inline-end: 12px;
  padding-block: 6px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  font-family: 'roboto-medium';
  transition: background-color 0.2s ease-in-out;
}
.note-side-nav-item:hover {
  background-color: var(--clr-note-hover-grey);
}
.note-side-nav:hover .note-side-nav-item span {
  display: block;
  margin-inline-start: 20px;
}
.note-side-nav-item span {
  display: none;
  color: #202124;
  font-family: 'roboto-medium';
  font-size: 14px;
}
.note-side-nav-item {
  display: flex;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-inline-start: 12px;
  cursor: pointer;
  font-family: 'roboto-medium';
}

.active .icon {
  background-color: var(--clr-note-yellow);
}
.note-side-nav:hover .active.note-side-nav-item {
  background-color: var(--clr-note-yellow);
}

.note-side-nav-item .icon {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #202124;
  border-radius: 50%;
}
