.email-list-wrap{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-block: 10px;
    background-color: #fff;
    margin-block: 8px;
    border-radius: 16px;
    padding-inline: 16px;
    grid-column: 2;
    grid-row: 1;
    overflow: auto;
    height: 634px;
}

