.email-preview ul{
    display: flex;
    margin: 0;
    justify-content: flex-end;
}
 .email-preview{
    font-size: 14px;
    height: 40px;
    font-family: roboto;
    display: grid;
    grid-auto-flow: column;
    background-color: #f2f6fc;
    grid-template-columns: 127px 5fr 121px;
    align-items: center;
    padding-block: 10px;
    padding-inline: 16px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
}
 .email-preview.unread{
    background-color: #ffffff;
}
 .email-preview.unread .preview-name {
    font-family: "roboto-medium";
        color: #202122;
}
 .email-preview.unread .subject{
    font-family: "roboto-medium";
    color: #202122;
}
 .email-preview.unread .preview-date{
    color: #202122;
}
.preview-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #202122;

}
.preview-date{
    -webkit-font-smoothing: auto;
    font-family: 'roboto-medium';
    font-size: .75rem;
}
 .email-preview:hover{
    cursor: pointer;
    box-shadow: inset 1px 0 0px #dadce0, inset -1px 0 0 #dadce0, 1px 3px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    fill: rgb(84, 84, 84);
}

 .email-preview .preview-txt{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-start: 80px;
    display: flex;
    gap: 10px;


}
 .email-preview .preview-txt .subject{
    color: #202122;

}
 .email-preview .static-preview-btns{
    display: flex;
    gap: 10px;
}
.preview-date{
    justify-self: end;
}
[data-title]{
    position: relative;
}

[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    font-size: 12px;
    background: #333;
    color: #fff;
    padding: 0.2em 0.3em;
    border-radius: 0.2em;
    text-transform: capitalize;
    bottom: -25px;
    width: max-content;
    left: 12px;
}
.gold-fill{
    fill: #f3c84c;
}
 .email-preview .svg-button{
    fill: lightgray;
}
.hovered{
  fill: rgb(84, 84, 84);
}
