.email-details{
    overflow: auto;
    display: grid;
    gap: 1em;
    /* padding-block-start: 108px; */
    /* background-color: #ffff; */
    padding-inline: 53px;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 50px 1fr;
    grid-column: 2;
    fill: #001d35;
    height: 645px;
}

.email-details h1{
    font-family: 'roboto-light';
    color: #202122;
    font-weight: 600;
    font-size: 22px;
    grid-column: 2;
    display: flex;
    align-items: flex-end;
}
.email-details .icon{
    grid-column: 1;
    grid-row: 2;
}
.main-details-container{
    grid-column: 2;
    grid-row: 2;

}
.main-details-container header{
display: flex;
justify-content: space-between;
font-size: 14px;
}
.main-details-container header div:first-of-type{
    display: flex;
}
.main-details-container header div:first-of-type p{
    font-size: 12px;
}
.main-details-container header div h4{
    font-size: 16px;
}
.main-details-container header .details-options{
    display: flex;
    gap: 3em;
    fill: gold;
}
.details-body{
    color: black;
    background-color: #f9f9f9;
    padding: 32px;
}
.details-body p {
    white-space: pre-line
}