.side-nav {
  background-color: #f6f8fc;
}

.side-nav-item {
  display: flex;
  gap: 18px;
  padding-inline-start: 26px;
  padding-inline-end: 12px;
  padding-block: 6px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  background-color: #f6f8fc;
  margin-inline-end: 14px;
}

.unread-count {
  -webkit-font-smoothing: auto;
  font-family: 'roboto-medium';
  font-size: 0.75rem;
  color: #5f6368;
  opacity: 0.8;
}

.side-nav-item .icon {
  fill: #5f6368;
}

.side-nav-item:hover:not(.clicked-side-nav) {
  background-color: #e7e7e7;
}

.side-nav-item.inbox div {
  /* display: flex;
  gap: 98px;
  align-items: center; */
}
.nav-status {
}
.clicked-side-nav span {
  color: #041e49;
  font-family: roboto-regular;
  font-weight: bold;
}
.clicked-side-nav .icon svg {
  fill: #041e49;
}
.clicked-side-nav {
  background-color: #d3e3fd;
}
.clicked-side-nav svg {
  fill: #041e49;
}
.clicked-side-nav path {
  stroke: #041e49;
}
.side-nav-item.important {
  padding-inline-start: 23px;
  gap: 16px;
}
.icon-important svg {
  width: 24px;
  height: 24px;
}
.icon-important {
  width: 24px;
  height: 24px;
}
.compose-btn {
  display: flex;
  align-items: center;
  background-color: #c2e7ff;
  padding-block: 16px;
  padding-inline-end: 24px;
  gap: 16px;
  color: #001d35;
  border-radius: 16px;
  font-family: roboto-regular;
  font-size: 0.875rem;
  padding-inline-start: 15px;
  margin-block-start: 8px;
  margin-inline-start: 8px;
  margin-block-end: 25px;
}
.compose-btn:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
